## Statistics and Visualization

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from scipy.stats import pearsonr,ttest_ind

import statsmodels.api as sm
from statsmodels.formula.api import ols

test anova from statsmodels

In [157]:
moore = sm.datasets.get_rdataset("Moore", "carData",
                                    cache=True) # load data
data = moore.data

#print(data)
data = data.rename(columns={"partner.status":
                                "partner_status"}) # make name pythonic
#print(data)
moore_lm = ols('conformity ~ partner_status * C(fcategory) + C(fscore)', data=data).fit()
   
table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 ANOVA DataFrame
print(table)
# 'gene_X_sensitivity ~MSI_status + C(Tissue) + driver_gene_Y_status'

                                 sum_sq    df         F    PR(>F)
partner_status                73.500000   1.0  2.490171  0.142864
C(fcategory)                  95.603971   2.0  1.619526  0.241832
C(fscore)                    721.427477  30.0  0.814729  0.687681
partner_status:C(fcategory)  105.323529   2.0  1.784174  0.213257
Residual                     324.676471  11.0       NaN       NaN

test ttest from scipy stats

In [ ]:
ttest_ind()

In [89]:
data1 = pd.read_csv("/home/annerer/Downloads/elife-58925-supp1-v3.csv")

In [38]:
cellLine = effect.index.to_list()
# split at space
for i in range(len(cellLine)):
    cellLine[i] = cellLine[i].split("_") 

cellLines = []
for i in range(len(cellLine)):
    cellLines.append(cellLine[i][0])
    
effect.index = cellLines

In [48]:
effect.head()

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
INDEX,,,,,,,,,,,,,,,,,,,,,
HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,0.178087,0.088290,-0.201464,-0.017011,0.042590,-0.192257,0.352891,-0.445209,0.292603,0.165168,...,-0.122795,-0.464567,NaN,NaN,0.258084,0.237593,-0.408563,0.291832,0.218575,-0.139759
HEL9217_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,-0.082364,0.239413,0.195457,0.163763,-0.188161,-0.338735,0.254489,-0.583878,-0.060615,0.015272,...,-0.195061,-0.408063,-0.155155,-0.067415,0.229242,-0.075883,-0.104001,0.075901,0.036985,-0.243303
LS513_LARGE_INTESTINE,0.070026,0.075066,-0.064637,0.156905,0.099075,0.141985,0.066314,-0.477023,-0.006855,0.291604,...,-0.093252,-0.276874,-0.049716,0.116683,0.211699,-0.012654,-0.351716,0.089140,-0.392549,-0.442624
C2BBE1_LARGE_INTESTINE,0.107048,-0.006352,-0.053166,0.053055,0.081620,-0.038305,0.082421,-0.642935,0.159178,0.064128,...,-0.280677,-0.230111,-0.106000,0.041611,0.083021,0.022771,-0.596777,0.197627,-0.106398,-0.549259
253J_URINARY_TRACT,0.280508,0.079860,0.016981,0.439139,-0.042239,-0.242560,0.103028,-0.419159,0.141445,0.115857,...,-0.410500,-0.507467,-0.138665,-0.119292,0.284407,0.158124,-0.240429,0.124847,-0.250949,-0.379117

In [99]:
testdf = np.transpose(effect)
testdf = testdf.columns.to_list()

#testdf = np.transpose(testdf)
#cols = testdf.columns.to_list()
#data1 = data1[cols]
#data1.shape
sect = set.intersection(set(testdf),set(data1['CCLE_NAME']))

In [103]:
data1.head()

,CCLE_NAME,TISSUE_FACTOR,MSI,ACVR1B_mut_del,APC_mut_del,ARID1A_mut_del,ATM_mut_del,ATRX_mut_del,AXIN1_mut_del,BAP1_mut_del,...,PIK3CA_mut,BRAF_mut,CTNNB1_mut,KRAS_mut,NRAS_mut,GNAS_mut,HRAS_mut,EGFR_mut,MAP2K1_mut,PTPN11_mut
0,MOLM16_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,PATU8988S_PANCREAS,PANCREAS,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,RCHACV_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,SKMEL31_SKIN,SKIN,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,SKBR3_BREAST,BREAST,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [73]:
intersect = pd.concat([testdf,data1],axis=1)

In [122]:
data2 = data2.sort_values('CCLE_NAME')

In [140]:
effect2 = effect2['MDM2'].sort_index()

In [143]:
data2.head()

,CCLE_NAME,TISSUE_FACTOR,MSI,ACVR1B_mut_del,APC_mut_del,ARID1A_mut_del,ATM_mut_del,ATRX_mut_del,AXIN1_mut_del,BAP1_mut_del,...,PIK3CA_mut,BRAF_mut,CTNNB1_mut,KRAS_mut,NRAS_mut,GNAS_mut,HRAS_mut,EGFR_mut,MAP2K1_mut,PTPN11_mut
897,2313287_STOMACH,STOMACH,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
109,253J_URINARY_TRACT,URINARY_TRACT,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
802,42MGBA_CENTRAL_NERVOUS_SYSTEM,CENTRAL_NERVOUS_SYSTEM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
579,5637_URINARY_TRACT,URINARY_TRACT,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,59M_OVARY,OVARY,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
data2 = data1[data1["CCLE_NAME"].isin(set(sect))]

In [107]:
print(data1.shape)
print(data2.shape)

(1026, 71)
(590, 71)

In [111]:
effect2 = effect[effect.index.isin(set(sect))]

In [144]:
effect2.reset_index(drop=True, inplace=True)
data1.reset_index(drop=True, inplace=True)

### Important Pandas Features

dropping the index might be necessary when concatenating
dataframes. see cell above.

also, when you want a df-subset with a specified list of members,
use:

#### subDf = df[df["column"].isin(set(list))].



todo: learn about split-apply-combine using groupby

In [164]:
dataset = pd.concat([effect2,data2],axis=1)

In [162]:
effect2.shape

(590,)

In [165]:
dataset.shape

(851, 72)

In [166]:
dataset['MDM2'].tail()

1015   NaN
1018   NaN
1019   NaN
1020   NaN
1023   NaN
Name: MDM2, dtype: float64

In [167]:
data = dataset
#print(data)

moore_lm = ols('MDM2 ~ MSI + C(TISSUE_FACTOR) + TP53_mut_del', data=dataset).fit()

table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 ANOVA DataFrame
print(table)

                     sum_sq     df         F    PR(>F)
C(TISSUE_FACTOR)   3.319515   23.0  0.717320  0.827687
MSI                0.014519    1.0  0.072160  0.788401
TP53_mut_del       0.102370    1.0  0.508791  0.476212
Residual          60.964407  303.0       NaN       NaN